$color-primary:     #3E6895;      
$color-background:  red;      

$color-apple:       #EA4C89;
$color-dribbble:    #EA4C89;
$color-facebook:    #3B5998;
$color-google-plus: #DD4B39;
$color-instagram:   #3F729B;
$color-linked-in:   #0077B5;
$color-pinterest:   #C92228;
$color-rss:         #EE802F;
$color-skype:       #12A5F4;
$color-soundcloud:  #FF7700;
$color-tumblr:      #35465C;
$color-twitch:      #6441A5;
$color-twitter:     #1DCAFF;
$color-youtube:     #C4302B;
