$mq-xs-1: 360px;     // Phone Width
$mq-xs-2: 480px;     // 
$mq-sm-1: 768px;     // Tablet Portrait
$mq-sm-2: 1024px;    // iPad Landscape
$mq-md-1: 1280px;    // Small Desktop
$mq-md-2: 1366px;    // Laptop Width
$mq-lg-1: 1680px;    // Medium Desktop
$mq-lg-2: 1920px;    // Large Desktop

@mixin aspect-ratio($width, $height) {
    position: relative;
    
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    
    > .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.image {
	background-color: #333;
	background-image: url(http://placehold.it/800x450);
	background-position: center;
	background-size: cover;
}